<html>
    <head>
        <title>ujjwal blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"> welcome to ujjwal's blog</a></h1>
        </div>

        <div>
            <p>find every solution</p>
            <h2><a href="">chapter1</a></h2>
            <p><strong>Aenean eu leo quam.<br> Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit <br>non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</strong></p>
        </div>
        <ul><li>ujjwal</li><li>ranjan</li></ul>
        <div>
            <h2><a href="">chapter2</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
